@font-face {
  font-family: josefin;
  src: url(../assets/josefin.ttf);
}

*{
  padding: 0; margin: 0;
  box-sizing: border-box;
  font-family: josefin, sans-serif;
 }
body{
  background-color: var(--blue-theme);
}
 .fermerImg{
  width: 30px;
  height: 30px;
  background: url('../assets/home.svg');
  background-repeat: no-repeat;
  background-size: contain;
  margin: 15px
}

.consigne-cont{
  
  /* background-color: yellow; */
  margin:  0; 
  padding: 15px;
  
}

.consigne{
  margin: 20px auto;
  font-size: 1.5rem;
  font-weight: bolder;
  text-transform:uppercase;
  text-align: center;
}
.titre{
  font-style: italic;
  text-align: center;  
  font-size: 2rem;
}
.sous-consigne{
  font-size: 1.2rem;
}
.entete{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 15px 0 0 15px;
}
.entete .chap-titre{
  flex-grow: 2;
}
.entete a{
  flex-grow: 1;
  text-decoration: none
}

.chapitres{
  width: 80%;
  margin: 15px auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
}
.chapitres div{
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bolder;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgba(182, 152, 252, 0.589);
}

.question{
  font-size: 1.4rem;
  width: 80%;
  margin: 50px auto;
  color: white;
}

.choix{
  display: flex;
  justify-content: center;
  gap: 30px;
  font-size: 1.3rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  color: var(--blue-theme-dark);
}
.vrai, .faux{
  width: 100px;
  height: 100px;
  background-color: var(--blue-theme);
  color: var(--pr);
  line-height: 100px;
  text-align: center;
  border-radius: 10px;
}

.selected{
  background-color: var(--blue-theme-dark);
  /* box-shadow: -5px -5px 0 rgb(141, 140, 140); */
}






.score{
  font-size: 3rem;
  margin: 20px auto;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  border-radius: 50%;
  border: 2px solid yellowgreen;
}

.q-foot{
  display: flex;
  justify-content: center ;
  align-items: center;
  margin: 40px auto 0;
  width: 100%;
}

.valider{
  background-color : var(--comp);
  border-radius: 20px;
  width: 250px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: var(--pr);
  font-weight: bold;
  cursor: pointer;
  transition: .3s;
}

.q-foot .precedent, .q-foot .suivant{
  border-radius: 20px;
  width: 20px;
  height: 20px;
  line-height: 40px;
  text-align: center;
  color:rgb(255, 255, 255);
  margin: 0 20px;
  cursor: pointer;
  background-repeat : no-repeat
}
.precedent{
background-image: url(./images/previous.svg)
}
.suivant{
 background-image: url(./images/next.svg)
}
