# Fichiers d'environnement
.env

# Dépendances
node_modules/
server/node_modules
vendor/

# Fichiers de compilation
dist/
build/
*.o
*.class
*.exe

# Fichiers temporaires
*.tmp
*.log
*.swp

# Systèmes d'exploitation
.DS_Store
Thumbs.db

# IDE et éditeurs
.idea/
.vscode/

