@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

:root {
  --pr: white;
  --secc: #D8D6BD;
  --sec: #6F6F6F;
  --secf: #2C2C2C;
  --comp: #E89332;
  --correct: rgba(0, 200, 10, 0.3);
  --incorrect: rgba(200, 0, 10, 0.3);
  --error: #e74c3c;
  --success: #27ae60;
  --warning: #b8860b;
  --text-light: #666;
  --overlay: rgba(0, 0, 0, 0.5);
  --premium-comp: #7C4DFF;
  --blue-theme: rgb(81, 81, 151);
  --appariement-bg: rgb(142, 213, 222);
}

body {
  background-color: var(--pr);
  color: var(--secf);
  width: 70%;
  margin: auto;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

/* navbar */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 25px;
}

.accueil img {
  width: 60px;
}

.nav .menus {
  display: flex;
  gap: 10px;
}

.menus .cloche {
  position: relative;
  width: 40px;
  height: 40px;
}

.menus .cloche svg {
  width: 100%;
  height: 100%;
  fill: var(--secf);
  cursor: pointer;
  transition: 0.2s;
}

.menus .cloche svg:hover {
  animation: wiggle 0.5s ease-in-out;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(15deg);
  }

  50% {
    transform: rotate(-15deg);
  }

  75% {
    transform: rotate(15deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.menus .cloche .notification {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 18px;
  height: 18px;
  background-color: var(--error);
  color: var(--pr);
  border-radius: 50%;
  font-size: 0.7rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav .menu {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid var(--secc);
  border-radius: 20px;
  padding: 5px 10px;
}

.nav .menu svg {
  color: var(--secf);
  font-size: 1.3rem;
  cursor: pointer;
  transition: 0.3s;
}

.nav .menu:hover svg {
  color: var(--premium-comp);
}

.nav .menu .user-menu {
  z-index: 33;
  position: absolute;
  top: 105%;
  right: 0px;
  /* 100% c'est nouveau pour MOI */
  border-radius: 10px;
  overflow: hidden;
  width: 200px;
  display: none;
}

.nav .menu .user-menu.show {
  display: block;
}

.nav .menu .user-menu>div {
  display: flex;
  flex-direction: column;
  padding: 5px;
  align-items: center;
  transition: 0.3s;
}

.nav .menu .user-menu div img {
  margin-right: 10px;
}

.nav .menu .user-menu div div {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px;
  background-color: var(--premium-light);
  transition: 0.3s;
}

.nav .menu .user-menu div div:hover {
  background-color: #94cdfc;
  cursor: pointer;
}

.nav .menu .user-menu div img {
  width: 30px;
}

.nav .menu .user-menu div.guest,
.nav .menu .user-menu div.connected {
  display: none;
}

.nav .menu .user-menu div.show,
.nav .menu .user-menu div.show {
  display: block;
}

.user-menu .premium,
.user-menu .free-mins,
.user-menu .menu-profile,
.user-menu .menu-logout {
  cursor: pointer;
  display: flex;
  flex-direction: row !important;
}

.creer-compte-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--pr);
}

.modal-full {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: var(--notification);
}

/* -------------------- Hero section */
.hero {
  /* background-color: var(--premium-bg); */
  box-shadow: 0 0 5px gray, 0 0 2px var(--secc);
  border-radius: 15px;
  padding-bottom: 20px;
}

.hero-top {
  display: flex;
}

.hero .hero-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero .hero-text h2,
.hero .hero-text h4 {
  margin: 5px 0 10px 10px;
}

.hero-actions {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.hero-actions .cta-premium,
.prq-premium-container .prq-premium .cta-premium {
  width: 160px;
  outline: none;
  border: none;
  background-color: var(--premium-comp);
  font-size: 1rem;
  font-weight: bold;
  padding: 10px 6px;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s;
  color: var(--pr);
}

.hero-actions .cta-premium:hover {
  cursor: pointer;
  background-color: var(--premium-comp-dark);
}

.hero .hero-img {
  flex: 1
}

.hero .hero-img img {
  width: 100%;
}

.hero .video {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-right: 15px;
  border-radius: 15px;
  border-top-left-radius: 22px;
  border-bottom-left-radius: 22px;
  background-color: var(--premium-light);
  cursor: pointer;
  transition: 0.3s;
}

.hero .video:hover {
  background-color: #ce93d8;
}

.hero .video img {
  height: 43px;
  transition: 0.3s;
  transition-delay: 0.5s;
}

.hero .video .video-text {
  font-weight: bold;
}

.modal-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-video-container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}

.fermer-video {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 9987;
  padding: 20px;
  background-color: var(--notification);
  cursor: pointer;
}

/* ------------------- Pourquoi devnir premium */
.prq-premium-container,
.faq-container {
  margin: 30px auto;
  position: relative;
  background-color: var(--pr);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.prq-premium-container img,
.faq-container img {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 60px;
  height: 60px;
  transform: rotateZ(-15deg);
  border: 1px solid white;
  border-radius: 50%;
  padding: 5px;
}

.prq-premium-container h2,
.faq-container h2 {
  padding: 50px;
}

.prq-premium-container h2 span {
  padding: 10px;
  background-color: var(--premium-comp);
  color: var(--pr);
}

.prq-premium-container .prq-premium {
  position: relative;
  margin: 20px auto;
  width: 70%;
  border: 1px solid var(--secc);
  border-radius: 20px;
  padding: 20px 50px;
  background: linear-gradient(135deg, var(--pr) 0%, var(--premium-bg) 100%);
  color: var(--secf);
}

.pricing {
  pposition: relative;
  top: -100px;
  background-color: var(--pr);
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: var(--error);
  box-shadow: 0 0 5px var(--premium-comp), 0 0 10px var(--premium-comp);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin: auto;
  padding: 20px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.princing:before {
  content: ''
}

.prq-premium-container .prq-premium .prq-premium-avantages div {
  position: relative;
  margin: 35px 0;
  font-size: 0.9rem;
  font-weight: bold;

}

.prq-premium-container .prq-premium .prq-premium-avantages div:before {
  content: '';
  position: absolute;
  left: -35px;
  top: -6px;
  width: 30px;
  height: 30px;
  background-image: url('./assets//img/verifier.png');
  background-size: 30px;
  background-repeat: no-repeat;
  ;
}

.prq-premium-container .prq-premium .prq-premium-avantages span {
  font-weight: bold;
  color: var(--premium-comp);
}



/* ----------- QUESTIONS FREQUENTES ------------ */
.faq-container {
  position: relative;
  background-color: var(--premium-bg);
}

.faq-item .item-qst {
  font-weight: 500;
  background-color: var(--appariement-bg);
  padding: 10px;
  border-radius: 5px;
  margin: 15px;
  box-shadow: 0 0 2px 1px var(--pr), 0 0 5px 2px var(--pr);
  cursor: pointer;
}

.faq-item .item-res {
  width: 90%;
  margin: auto;
  font-weight: 500;
  display: none;
  background-color: #e1bee7;
  padding: 10px 20px;
  margin: 0 auto;
  font-size: 1.2rem;
  transition: 0.5s ease-out;
}

#myLineChart {
  width: 50px;
}


@media screen and (max-width: 580px) {

  body {
    width: 100%;
  }

  .prq-premium-container h2 {
    font-size: 1.2rem;
    padding-right: 0px;
  }

  .hero {
    flex-direction: column-reverse;
    padding-bottom: 20px;
  }

  .hero .video {
    background-color: transparent;
    width: 60px;
    right: 20px;
  }

  .hero .video .video-text {
    display: none;
  }

  .prq-premium-container .prq-premium {
    width: 100%;
    margin: 40px auto;

    box-shadow: 0 0 3px white, 0 0 5px white;
  }
}